<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cmucreatelab.tasota.airprototype" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false" />
        <service
            android:name=".services.EsdrRefreshService"
            android:exported="false" />

        <activity
            android:name=".activities.address_list.AddressListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName=".activities.address_list.AddressListActivity"
            android:name=".activities.address_show.AddressShowActivity"
            android:label="@string/title_activity_address_show" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity
            android:parentActivityName=".activities.address_list.AddressListActivity"
            android:name=".activities.address_search.AddressSearchActivity"
            android:label="@string/title_activity_address_search" >
        </activity>
        <activity
            android:name=".activities.login.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="org.cmucreatelab.tasota.airprototype" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutAirQualityActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
